*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #15638F;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    width: 200px;
    height: 322px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.card__image{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;    
}
.card__content{
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
}
.card__title{
    font-weight: 700;
    font-size: 12px;
    margin: 15px 0px;
}
.card__text{
    margin: 15px 0px;
    font-size: 10px;
    font-weight: 300;
}
.card__btn{
    display: block;
    margin-bottom: 5px;
    padding: 6px 23.96px 7.97px 24px;
    border: solid;
    border-radius: 50px;
    color: #FFFFFF;
    background: #2797B2;
    cursor: pointer;
}
.card__btn:active{
    color: #2797B2;
    background-color: white;
}